main.about {
	padding: 40px 0;
	position: relative;
	display: flex;
	justify-content: space-between;
	min-height: 110vh;

	img {
		width: 30%;
		filter: brightness(90%);
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		object-fit: cover;
		height: 95vh;
	}

	.details {
		padding: 0 60px;

		ul {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;

			.one,
			.two {
				padding-right: 70px;
			}
		}
	}
}

@media (max-width: 576px) {
	main.about {
		flex-direction: column;

		img {
			width: 70%;
			height: 45vh;
			margin: 0 auto;
			border-radius: 8px;
			object-fit: cover;
		}

		.details {
			padding: 0 20px;

			h1 {
				font-size: 23px;
			}

			.one,
			.two {
				// width: 50%;
				padding-right: 30px !important;
			}
		}
	}
}
