main.home {
    display: flex;

    .image-container img {
        width: 350px;
        height: 450px;
        object-fit: cover;
    }

    .right-side {
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            padding: 9px 20px;
            background-color: #f9e70e;
            color: #192965;
            font-family: 'Raleway', serif !important;
            font-weight: bold;
            font-size: 14px !important;
            box-shadow: 0px 0px 10px rgba(249, 231, 14, 0.5);
            border-radius: 3px;
            border: 2px solid white;
        }
    }

}

@media(max-width: 500px) {
    main.home {

        .greet {
            h2 {
                text-align: center;
            }
        }

        .image-container img {
            width: 100%;
            filter: brightness(70%);
        }

        .right-side {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }
    }
}